# Mundo 2
### Introdução ao Pandas

In [2]:
import pandas as pd
import numpy as np

## Séries

In [4]:
# Argumentos: listas/vetores 

serie_inicial = pd.Series(np.random.randn(5))



serie_inicial = pd.Series(np.random.randn(5), index = ["A", "B", "C", "D", "E"])

print(serie_inicial)

serie_lista = pd.Series(["Python", "SQL", "VBA"])

serie_lista

A   -0.323465
B   -1.926708
C   -0.191187
D   -1.058311
E    0.574217
dtype: float64

0    Python
1       SQL
2       VBA
dtype: object

In [6]:
# A partir de dicionários, criando séries temporais

dicionario_cotacoes = {"WEGE3": 20.20, "PETR4": 19.28, "VALE3": 64.90, "PETZ3": 12.03}

serie_cotacoes = pd.Series(dicionario_cotacoes)

print(serie_cotacoes)
print(serie_cotacoes['WEGE3'])
serie_cotacoes[0]

WEGE3    20.20
PETR4    19.28
VALE3    64.90
PETZ3    12.03
dtype: float64
20.2

20.2

## DataFrames

In [7]:
#A partir de outras séries ou dicionários

dicionario_dados = {
    "empresas": pd.Series(["Wege", "Vale", "Petrobras"], index = ["2019", "2020", "2021"]), 
    "price": pd.Series([20, 30, 40], index = ["2019", "2020", "2021"]),
    "volume": pd.Series([1000, 4000, 7500], index = ["2019", "2020", "2021"])
}

dados_diarios = pd.DataFrame(dicionario_dados)

dados_diarios

       empresas  price  volume
2019       Wege     20    1000
2020       Vale     30    4000
2021  Petrobras     40    7500

In [8]:
dicionario_dados = {
    "empresas": ["Wege", "Vale", "Petrobras"],
    "price": [20, 30, 40],
    "volume": [1000, 4000, 7500]
}

dados_diarios_from_dict = pd.DataFrame(dicionario_dados, index = ["2019", "2020", "2021"])

dados_diarios_from_dict

       empresas  price  volume
2019       Wege     20    1000
2020       Vale     30    4000
2021  Petrobras     40    7500

In [11]:
#escolhendo colunas

dicionario_dados = {
    "empresas": ["Wege", "Vale", "Petrobras"],
    "price": [20, 30, 40],
    "volume": [1000, 4000, 7500]
}

dados_diarios_from_dict = pd.DataFrame(dicionario_dados, index = ["2019", "2020", "2021"],
                                      columns = ["volume", "price", "teste"])

dados_diarios_from_dict

      volume  price teste
2019    1000     20   NaN
2020    4000     30   NaN
2021    7500     40   NaN

In [15]:
#cuidado

dado = {"cotacao": 20, "dia": "2019-12-21"}

dataframe = pd.DataFrame(dado, index = [0])

dataframe

   cotacao         dia
0       20  2019-12-21

# Exercícios

* Exercício 34: Crie uma série de numeros.   
* Exercício 35: Crie uma série de cotação randomica (random walk) para os próximos 30 dias de uma ação, partindo do preço inicial definido pelo usuário. Pressuponha que a média de retornos da ação é zero e seu desvio padrão diário (volatilidade) é de 1%.  
* Exercício 36: Crie um DataFrame com as seguintes informações:
       tickers: “WEGE3”, "PETR3", "VALE3", "PETR4" e "LREN3"
       cotacoes: 20, 30, 40, 12, 35  
       nomes: "Weg", "Petrobras", "Vale", "Petrobras" e "Lojas Renner"
       preco_sobre_lucro: 25, 6, 12, 7, 25  
       volume: 5000, 1000, 4000, 7000, 1200

In [6]:
#34
import pandas as pd
import numpy as np

numeros = [20, 30, 40, 50]

serie = pd.Series(numeros)

serie

0    20
1    30
2    40
3    50
dtype: int64

In [ ]:
#35

In [ ]:
#36

In [16]:
#gabarito 34

numeros = [20, 30, 40, 50]

serie = pd.Series(numeros)

serie

0    20
1    30
2    40
3    50
dtype: int64

In [8]:
#gabarito 35
import random

cotacao_inicial = float(input("Qual a cotação inicial da ação? "))

periodo_projecao = 30
lista_cotacoes = [cotacao_inicial]
lista_dias = [0]
volatilidade_diaria = 0.01

for i in range(1, periodo_projecao):
    
    cotacao_seguinte = lista_cotacoes[-1] * (1 + np.random.normal(0, volatilidade_diaria))
    
    lista_cotacoes.append(cotacao_seguinte)
    lista_dias.append(i)
    
serie_final = pd.Series(lista_cotacoes, index = lista_dias)

print(serie_final)

0     20.000000
1     19.961108
2     19.936560
3     19.734575
4     19.456606
5     19.218488
6     19.009542
7     19.289078
8     19.423006
9     19.198847
10    18.597363
11    18.313924
12    18.143049
13    18.186172
14    18.336237
15    18.054981
16    18.320746
17    18.592984
18    18.620466
19    18.661076
20    18.690025
21    18.260121
22    18.405089
23    18.322585
24    18.320400
25    18.172472
26    18.374210
27    18.113419
28    17.861269
29    17.817208
dtype: float64

In [9]:
#gabarito 35 bonus

serie_final.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
#gabarito 36 

dic = {
"tickers": ["WEGE3", "PETR3", "VALE3", "PETR4" "LREN3"],
"cotacoes": [20, 30, 40, 12, 35 ],
"preco_sobre_lucro": [25, 6, 12, 7, 25 ],
"volume": [5000, 1000, 4000, 7000, 1200]
} 

df = pd.DataFrame(dic, index=range(di))

ValueError: Length of values (4) does not match length of index (1)

# Mundo 3

Nesse mundo 2 nós vemos como criar séries e Dataframes, mas faltou abordar um tópico muito importante na criação dessas estruturas: índices!