# Mundo 11

### Leitura e extração de dados

In [ ]:
# ! pip install yfinance==0.2.65
import pandas as pd
import yfinance as yf 
from datetime import datetime

In [6]:
acao = "WEGE3.SA"

dados = yf.download(tickers= acao)

dados

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/4031395727.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados = yf.download(tickers= acao)
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker       WEGE3.SA   WEGE3.SA   WEGE3.SA   WEGE3.SA  WEGE3.SA
Date
2025-06-30  42.577217  42.925560  42.029825  42.109448  10282300
2025-07-01  42.298546  42.786225  42.159210  42.477693   7110200
2025-07-02  42.228878  42.915606  41.910395  42.079588   7025100
2025-07-03  42.507549  42.746413  42.029825  42.298546   6963500
2025-07-04  42.796173  43.174373  42.587169  42.666788   3488100
2025-07-07  42.129353  42.905654  42.039779  42.796175   4161300
2025-07-08  40.417503  42.487642  40.248307  42.487642  11029800
2025-07-09  39.919876  40.357789  39.770586  40.308027  11678900
2025-07-10  39.710873  40.049261  39.004235  39.253050  12622900
2025-07-11  39.561581  39.890018  39.183381  39.671060  11076600
2025-07-14  39.342621  39.909919  39.342621  39.392387   5026100
2025-07-15  39.481956  39.780537  39.034093  39.412289   7131200
2025-07-16  40.925087  41.104234  39.511820  39.661106  11531300
2025-07-17  41.890488  42.308495  41.183854  41.203760  17894300
2025-07-18  42.169159  42.676744  41.820820  42.039778  13711800
2025-07-21  41.771057  42.845936  41.581955  42.835985   7733200
2025-07-22  41.124138  42.049730  41.124138  41.800915   8965700
2025-07-23  37.829826  39.750678  37.829826  39.123667  31116000
2025-07-24  36.058266  38.417031  35.908979  38.018929  30042500
2025-07-25  35.998547  36.426509  35.769637  36.317033  19069200
2025-07-28  36.730000  36.730000  36.000000  36.099998  11133300
2025-07-29  36.580002  37.939999  36.580002  37.150002  14293400
2025-07-30  36.849998  37.480000  35.750000  36.650002  18990800
2025-07-31  37.139999  37.150002  35.900002  36.610001   8993600

In [3]:
acao = "WEGE3.SA"

dados = yf.download(tickers= acao, start = "2010-12-31", end = datetime.now())

dados

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2011-01-03   3.254437   3.323964   3.233727   3.251479   2.551675  2290288
2011-01-04   3.286982   3.292899   3.181952   3.195266   2.507560  2618824
2011-01-05   3.195266   3.233727   3.150887   3.152366   2.473893  3096756
2011-01-06   3.177514   3.183431   3.100591   3.118343   2.447194  2873676
2011-01-07   3.162721   3.167159   3.112426   3.122781   2.450676  3000764
...               ...        ...        ...        ...        ...      ...
2023-01-10  37.520000  37.910000  37.080002  37.549999  37.549999  6556000
2023-01-11  37.490002  38.700001  37.200001  38.599998  38.599998  5982900
2023-01-12  38.540001  38.990002  38.200001  38.509998  38.509998  5376000
2023-01-13  38.189999  39.360001  37.919998  38.970001  38.970001  4957200
2023-01-16  39.099998  39.099998  37.270000  37.689999  37.689999  7545600

[2989 rows x 6 columns]

In [5]:
acao = "WEGE3.SA"

dados = yf.download(tickers= acao, start = "2010-12-31", end = datetime.now(), 
                           interval = '1wk') 

#pode inventar moda tipo isso, mas deixa pra calcular qualquer coisa dentro do proprio pandas. 

dados

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close      Volume
Date
2010-12-27   3.224852   3.224852   3.224852   3.224852   2.530779         0.0
2011-01-03   3.254437   3.323964   3.100591   3.122781   2.450675  13880308.0
2011-01-10   3.134615   3.218934   3.113905   3.165680   2.484343  10935652.0
2011-01-17   3.152366   3.181952   3.082840   3.088757   2.423975  13840424.0
2011-01-24   3.099112   3.115384   2.889053   2.921597   2.292792  16892564.0
...               ...        ...        ...        ...        ...         ...
2022-12-19        NaN        NaN        NaN        NaN        NaN         NaN
2022-12-25  38.330002  39.330002  37.779999  38.509998  38.509998  18929800.0
2023-01-01  38.500000  38.500000  36.660000  38.029999  38.029999  25582700.0
2023-01-08  38.000000  39.360001  37.080002  38.970001  38.970001  28602700.0
2023-01-15  39.099998  39.099998  37.270000  37.689999  37.689999   7545600.0

[674 rows x 6 columns]

In [7]:
#puxar ddos várias ações

acao = ["META", "NKE", "GOOGL", "AMZN"]

dados = yf.download(tickers= acao, start = "2010-12-31", end = datetime.now())  
                           
dados

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/3069623607.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados = yf.download(tickers= acao, start = "2010-12-31", end = datetime.now())
[*********************100%***********************]  4 of 4 completed

Price            Close                                           High  \
Ticker            AMZN       GOOGL        META        NKE        AMZN
Date
2010-12-31    9.000000   14.775500         NaN  17.807165    9.115000
2011-01-03    9.211000   15.033710         NaN  17.946842    9.300000
2011-01-04    9.250500   14.978238         NaN  17.504890    9.385000
2011-01-05    9.371000   15.151126         NaN  17.619543    9.372500
2011-01-06    9.293000   15.261326         NaN  17.461115    9.370500
...                ...         ...         ...        ...         ...
2025-07-25  231.440002  193.179993  712.679993  76.269997  232.479996
2025-07-28  232.789993  192.580002  717.630005  79.239998  234.289993
2025-07-29  231.009995  195.750000  700.000000  78.330002  234.720001
2025-07-30  230.190002  196.529999  695.210022  76.680000  231.800003
2025-07-31  235.139999  192.770996  778.510010  75.364998  236.529999

Price                                                 Low              \
Ticker           GOOGL        META        NKE        AMZN       GOOGL
Date
2010-12-31   14.886198         NaN  17.894720    8.975500   14.727242
2011-01-03   15.064557         NaN  18.048992    9.060500   14.837938
2011-01-04   15.079235         NaN  17.875960    9.189000   14.928487
2011-01-05   15.182470         NaN  17.684169    9.203500   14.926745
2011-01-06   15.383963         NaN  17.615379    9.262500   15.175504
...                ...         ...        ...         ...         ...
2025-07-25  194.330002  720.650024  76.570000  231.179993  191.259995
2025-07-28  194.050003  724.739990  79.989998  232.250000  190.839996
2025-07-29  195.919998  724.469971  79.370003  230.309998  192.080002
2025-07-30  197.600006  708.500000  78.300003  229.289993  194.690002
2025-07-31  195.990005  784.700012  76.370003  231.399994  191.199997

Price                                    Open                          \
Ticker            META        NKE        AMZN       GOOGL        META
Date
2010-12-31         NaN  17.744626    9.098000   14.844406         NaN
2011-01-03         NaN  17.773817    9.068500   14.837938         NaN
2011-01-04         NaN  17.459028    9.307500   15.065304         NaN
2011-01-05         NaN  17.408994    9.205000   14.927243         NaN
2011-01-06         NaN  17.419421    9.325000   15.191176         NaN
...                ...        ...         ...         ...         ...
2025-07-25  711.900024  75.529999  232.220001  191.979996  716.919983
2025-07-28  712.679993  77.559998  233.350006  193.649994  715.200012
2025-07-29  699.909973  77.760002  234.149994  192.429993  720.000000
2025-07-30  691.200012  75.959999  231.639999  195.600006  708.090027
2025-07-31  765.510010  74.449997  235.774994  195.710007  775.635010

Price                     Volume
Ticker            NKE       AMZN      GOOGL        META       NKE
Date
2010-12-31  17.802997   69038000   61510428         NaN   5796000
2011-01-03  17.892642  106628000   94513392         NaN   8566400
2011-01-04  17.844689  100636000   72907020         NaN  13797600
2011-01-05  17.438179   68376000  101190708         NaN  11598800
2011-01-06  17.604955   63594000   82229688         NaN   8057200
...               ...        ...        ...         ...       ...
2025-07-25  75.910004   28712100   39785900   8271700.0   7208400
2025-07-28  79.000000   26300100   38139500   8715700.0  22631100
2025-07-29  78.760002   33716200   41389200  13267000.0  12885500
2025-07-30  77.779999   32488000   32332500  26483200.0  14594600
2025-07-31  76.349998   45474915   28709540  27191436.0   6809129

[3667 rows x 20 columns]

In [7]:
#dados['Adj Close']['META']

dados['Adj Close']

Date
2010-12-31           NaN
2011-01-03           NaN
2011-01-04           NaN
2011-01-05           NaN
2011-01-06           NaN
                 ...
2023-01-09    129.470001
2023-01-10    132.990005
2023-01-11    132.889999
2023-01-12    136.710007
2023-01-13    136.979996
Name: META, Length: 3030, dtype: float64

In [8]:
#puxar ddos várias ações

acao = ["RPAD5.SA", "CASH3.SA", "VALE3.SA", "ATOM3.SA"]

dados = yf.download(tickers = acao, 
                           start = "2018-12-31", end = datetime.now())['Adj Close']
                           
dados.head(50)

[*********************100%***********************]  4 of 4 completed

            ATOM3.SA  CASH3.SA  RPAD5.SA   VALE3.SA
Date
2019-01-02  2.060647       NaN  4.451818  37.054115
2019-01-03  2.143404       NaN  4.851542  35.538303
2019-01-04  2.102026       NaN  4.851542  37.851913
2019-01-07  2.126853       NaN  4.851542  37.648842
2019-01-08  2.110301       NaN  4.851542  38.011475
2019-01-09  2.135128       NaN  4.851542  38.939823
2019-01-10  2.060647       NaN  4.851542  38.511913
2019-01-11  2.077199       NaN  4.851542  37.989716
2019-01-14  2.209610       NaN  4.851542  38.149273
2019-01-15  2.201334       NaN  4.851542  37.967957
2019-01-16  2.143404       NaN  4.851542  38.185539
2019-01-17  2.135128       NaN  4.851542  39.331470
2019-01-18  2.176507       NaN  4.851542  39.715862
2019-01-21  2.193058       NaN  4.686950  40.093006
2019-01-22  2.093750       NaN  4.686950  39.947948
2019-01-23  2.068923       NaN  5.008296  40.361355
2019-01-24  2.085474       NaN  5.008296  40.723991
2019-01-28  2.027544       NaN  5.008296  30.722496
2019-01-29  2.093750       NaN  5.289954  30.998102
2019-01-30  2.143404       NaN  4.884309  33.797649
2019-01-31  2.135128       NaN  4.884309  32.999851
2019-02-01  2.077199       NaN  4.884309  33.543808
2019-02-04  2.044096       NaN  4.884309  32.405128
2019-02-05  2.044096       NaN  4.884309  32.289085
2019-02-06  2.027544       NaN  4.884309  30.795023
2019-02-07  2.035820       NaN  4.967093  30.164040
2019-02-08  2.027544       NaN  4.967093  31.302715
2019-02-11  2.002717       NaN  5.289954  30.475901
2019-02-12  1.986166       NaN  5.289954  32.129524
2019-02-13  2.019269       NaN  5.289954  32.992599
2019-02-14  2.019269       NaN  5.289954  33.115891
2019-02-15  2.002717       NaN  5.289954  33.275459
2019-02-18  1.977890       NaN  5.289954  32.818531
2019-02-19  1.961339       NaN  5.347904  32.992599
2019-02-20  1.986166       NaN  5.347904  33.217430
2019-02-21  1.969614       NaN  5.347904  32.912815
2019-02-22  1.986166       NaN  5.546587  34.080505
2019-02-25  1.961339       NaN  5.546587  34.174789
2019-02-26  1.953064       NaN  5.546587  34.232815
2019-02-27  1.936512       NaN  5.546587  33.964462
2019-02-28  1.953064       NaN  5.546587  34.160278
2019-03-01  1.903409       NaN  5.546587  33.899185
2019-03-06  1.936512       NaN  5.546587  34.849289
2019-03-07  1.944787       NaN  5.546587  35.436764
2019-03-08  1.953064       NaN  5.546587  35.429508
2019-03-11  1.911685       NaN  5.546587  36.176537
2019-03-12  1.936512       NaN  5.546587  36.241814
2019-03-13  1.911685       NaN  5.546587  36.771259
2019-03-14  1.911685       NaN  5.546587  36.778519
2019-03-15  1.862030       NaN  5.753550  36.662472

# Exercícios 

* Exercício 59: Puxe as cotações do Ibovespa desde 1 de junho de 1994 através do Yahoo Finance. Dica: vá no site no yahoo finance e procure pelo ticker do Ibovespa na plataforma. 
* Exercício 60: Puxe os dados de fechamento ajustado da Ambev, Weg, RaiaDrogasil, Pão de Açúcar e Meliuz desde 31/12/2018.

In [ ]:
acao = '^BVSP'

dados = yf.download(tickers= acao, start = "1994-06-01", end = datetime.now())

dados

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/1125797239.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados = yf.download(tickers= acao, start = "1994-06-01", end = datetime.now())
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,^BVSP,^BVSP,^BVSP,^BVSP,^BVSP
Date,,,,,
1994-06-01,2526.500000,2532.699951,2437.100098,2467.199951,0
1994-06-03,2696.000000,2714.000000,2526.500000,2526.500000,0
1994-06-06,2908.699951,2922.100098,2695.800049,2696.000000,0
1994-06-07,2920.500000,2976.000000,2887.699951,2908.699951,0
1994-06-08,2821.800049,2965.000000,2818.199951,2920.500000,0
...,...,...,...,...,...
2025-07-25,133524.000000,134204.000000,133285.000000,133820.000000,5560900
2025-07-28,132129.000000,133902.000000,131550.000000,133538.000000,6625600
2025-07-29,132726.000000,133346.000000,132130.000000,132130.000000,6324800
2025-07-30,133990.000000,134368.000000,131883.000000,132702.000000,8655300
2025-07-31,133333.343750,133987.265625,132096.296875,133987.265625,0

In [ ]:
# * Exercício 60: Puxe os dados de fechamento ajustado da Ambev, Weg, RaiaDrogasil, Pão de Açúcar e Meliuz desde 31/12/2018.

acoes = ["WEGE3.SA", "ABEV3.SA", "RADL3.SA", "PCAR3.SA", "CASH3.SA"]

fechamento_ajustado = yf.download(
   tickers = acoes,
   start = '2018-12-31',
   end = datetime.now()
)['Close'] 

# Adj Close não existe mais como coluna separada
# Close agora é automaticamente ajustado (por isso o warning sobre auto_adjust=True)

fechamento_ajustado

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/1328390520.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  fechamento_ajustado = yf.download(
[*********************100%***********************]  5 of 5 completed

Price           Close                                               High  \
Ticker       ABEV3.SA CASH3.SA PCAR3.SA   RADL3.SA   WEGE3.SA   ABEV3.SA
Date
2019-01-02  12.336809      NaN  9.34339  10.162501   8.122387  12.451392
2019-01-03  12.474311      NaN  9.34339  10.139203   8.307602  12.474311
2019-01-04  12.642365      NaN  9.34339  10.284381   8.402467  12.749311
2019-01-07  12.588892      NaN  9.34339  10.054965   8.271464  12.703475
2019-01-08  12.336809      NaN  9.34339  10.422391   8.203702  12.756949
...               ...      ...      ...        ...        ...        ...
2025-07-25  13.470000     5.90  3.50000  14.040000  35.998547  13.600000
2025-07-28  13.060000     6.16  3.52000  13.790000  36.730000  13.490000
2025-07-29  13.190000     5.82  3.45000  13.850000  36.580002  13.230000
2025-07-30  13.150000     5.73  3.65000  13.550000  36.849998  13.390000
2025-07-31  12.430000     5.65  3.56000  13.500000  37.020000  12.610000

Price                                               ...       Open           \
Ticker     CASH3.SA PCAR3.SA   RADL3.SA   WEGE3.SA  ...   ABEV3.SA CASH3.SA
Date                                                ...
2019-01-02      NaN  9.34339  10.350696   8.212736  ...  11.763892      NaN
2019-01-03      NaN  9.34339  10.180425   8.307602  ...  12.229867      NaN
2019-01-04      NaN  9.34339  10.520968   8.438606  ...  12.451393      NaN
2019-01-07      NaN  9.34339  10.395508   8.474750  ...  12.657642      NaN
2019-01-08      NaN  9.34339  10.474368   8.325674  ...  12.634727      NaN
...             ...      ...        ...        ...  ...        ...      ...
2025-07-25     5.94  3.55000  14.380000  36.426509  ...  13.580000     5.86
2025-07-28     6.28  3.62000  14.200000  36.730000  ...  13.470000     5.92
2025-07-29     6.27  3.55000  13.950000  37.939999  ...  13.150000     6.25
2025-07-30     5.97  3.67000  13.950000  37.480000  ...  13.200000     5.76
2025-07-31     5.73  3.59000  13.580000  37.150002  ...  12.330000     5.70

Price                                        Volume                       \
Ticker     PCAR3.SA   RADL3.SA   WEGE3.SA  ABEV3.SA   CASH3.SA  PCAR3.SA
Date
2019-01-02  9.34339  10.216271   7.959759  18692900        NaN         0
2019-01-03  9.34339  10.173257   8.131421  22739200        NaN         0
2019-01-04  9.34339  10.216273   8.312117  27484600        NaN         0
2019-01-07  9.34339  10.393716   8.470233  17084500        NaN         0
2019-01-08  9.34339  10.081849   8.298569  22108700        NaN         0
...             ...        ...        ...       ...        ...       ...
2025-07-25  3.52000  14.330000  36.317033  15436100  1311500.0   6080000
2025-07-28  3.52000  14.040000  36.099998  56671100  2245200.0   9716300
2025-07-29  3.51000  13.750000  37.150002  20942500  3110000.0  12959500
2025-07-30  3.44000  13.830000  36.650002  25805400  2826200.0  10961400
2025-07-31  3.56000  13.410000  36.610001  65679200   824200.0   3028600

Price
Ticker      RADL3.SA  WEGE3.SA
Date
2019-01-02   8830640   4751200
2019-01-03   6723080   8316400
2019-01-04  13039520   8340200
2019-01-07   4392440   5860200
2019-01-08   7460960   6306800
...              ...       ...
2025-07-25   4605500  19069200
2025-07-28   3279100  11133300
2025-07-29   4388900  14293400
2025-07-30   8277300  18990800
2025-07-31   3682700   9522100

[1637 rows x 25 columns]

In [21]:
#gabarito 59

ibovespa = yf.download(tickers= '^BVSP', 
                              start = "1994-06-01", end = datetime.now())['Close']
                           
print(ibovespa)

valores = ibovespa.values.flatten()  # Converte para array 1D
ultimo = valores[-1]
primeiro = valores[0]
retorno = ultimo / primeiro - 1
retorno

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/3630307763.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  ibovespa = yf.download(tickers= '^BVSP',
[*********************100%***********************]  1 of 1 completed

Ticker              ^BVSP
Date
1994-06-01    2526.500000
1994-06-03    2696.000000
1994-06-06    2908.699951
1994-06-07    2920.500000
1994-06-08    2821.800049
...                   ...
2025-07-25  133524.000000
2025-07-28  132129.000000
2025-07-29  132726.000000
2025-07-30  133990.000000
2025-07-31  133037.234375

[7717 rows x 1 columns]

np.float64(51.656732386700966)

In [16]:
#gabarito 60

acoes = ["WEGE3.SA", "ABEV3.SA", "RADL3.SA", "PCAR3.SA", "CASH3.SA"]

banco_de_dados = yf.download(tickers= acoes, 
                           start = "2018-12-31", end = datetime.now())['Close']
                           
banco_de_dados

/var/folders/hc/gmsnyqp935sbw3_735znp87r0000gp/T/ipykernel_42818/570233295.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  banco_de_dados = yf.download(tickers= acoes,
[*********************100%***********************]  5 of 5 completed

Ticker       ABEV3.SA  CASH3.SA  PCAR3.SA   RADL3.SA   WEGE3.SA
Date
2019-01-02  12.336810       NaN   9.34339  10.162504   8.122386
2019-01-03  12.474310       NaN   9.34339  10.139204   8.307603
2019-01-04  12.642365       NaN   9.34339  10.284383   8.402469
2019-01-07  12.588893       NaN   9.34339  10.054963   8.271464
2019-01-08  12.336810       NaN   9.34339  10.422390   8.203697
...               ...       ...       ...        ...        ...
2025-07-25  13.470000      5.90   3.50000  14.040000  35.998547
2025-07-28  13.060000      6.16   3.52000  13.790000  36.730000
2025-07-29  13.190000      5.82   3.45000  13.850000  36.580002
2025-07-30  13.150000      5.73   3.65000  13.550000  36.849998
2025-07-31  12.440000      5.64   3.54000  13.480000  37.099998

[1637 rows x 5 columns]

# Mundo 12

Agora que você puxou dados do mercado financeiro, que tal puxar dados sobre a economia americana?